<article class="card recipe">

  <h2><%= link_to recipe.title,
    recipe_path(recipe) %></h2>

  <% if recipe.photo %>
    <%= link_to recipe_path(recipe) do %>
      <%= image_tag recipe.photo.thumb('294x294#').url,
          class: 'img-responsive' %>
    <% end %>
  <% end %>

  <p><%= recipe.description %></p>

  <%= link_to 'Compartir por facebook',
      recipe.facebook_url,
      class: 'btn btn-block btn-primary',
      target: '_blank' %>

</article>