
<h1>
  <%= @attachment.title %>
  <small class="link">
    <%= link_to 'editar',
      edit_attachment_path(@attachment) %>
    <br />
  </small>
</h1>

<%= image_tag(
    @attachment.file.thumb('330x440').url,
    class: 'img-fluid img-thumbnail'
  ) if @attachment.file %>


<section class="show-document">

<p>
  <strong>Slug:</strong>
  <%= @attachment.slug %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attachment.description %>
</p>

<p>
  <strong>Document:</strong>
  <%= @attachment.document.title %>
</p>

</section>