<!DOCTYPE html>
<html>
  <head>
    <title>Administraci贸n | Coala</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
  </head>

  <body>
  <%#= render 'svgs' %>

  <nav class="navbar navbar-full navbar-dark bg-primary" role="navigation">
    <section class="cdontainer-fluid">
      <a class="navbar-brand" href="/sites">
        Administraci贸n | Coala
      </a>
      <ul class="nav navbar-nav pull-md-right">

        <li class="nav-item btn-group">
          <a class="dropdown-toggle nav-link"
             type="button"
             id="user-dropdown"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            <%= current_user.email %>
          </a>

          <div class="dropdown-menu" aria-labelledby="user-dropdown">
            <%= link_to 'Ver sitio', root_path, class: 'dropdown-item' %>
            <%= link_to 'Configuraci贸n', profile_path, class: 'dropdown-item' %>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/logout">
              Cerrar Sesi贸n
            </a>
          </div>
        </li>
      </ul>

    </section>
  </nav>

  <article class="page container-fluid">
    <div class="row">

      <nav class="col-md-2 side">
        <%= render 'side' %>
      </nav>

      <main class="col-md-10">
        <%= flash_messages if flash %>
        <%= yield %>
      </main>
    </div>
  </article>

  </body>
</html>