<tr>
  <td><%= document.title %></td>  
  <td>

  <% if document.public? && document.publication_date %>
    <span class="text-success">
      <%= document.publication_date %>
    </span>
  <% else %>
    No Publicado
  <% end %>

  </td>
  <td><%= link_to 'Ver', document %></td>
  <td><%= link_to 'Editar',
          edit_document_path(document) %></td>
  <td><%= link_to 'Eliminar',
          document, method: :delete,
          data: { confirm: '¿Está seguro?' } %></td>
</tr>