<%= form_for(document) do |f| %>

  <% if document.errors.any? %>
    <article class="alert alert-danger">
      <%= document.errors.count %>
      error(es) no permiten guardar este documento:
      <ul>
        <% document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </article>
  <% end %>


<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card card-block">

      <fieldset class="form-group">
        <%= f.label :title, 'Título' %>
        <%= f.text_field :title,
            class: 'form-control' %>
      </fieldset>
  
      <fieldset class="form-group">
        <%= f.label :slug %>
        <%= f.text_field :slug,
            class: 'form-control' %>
        <small class="text-muted">
          Debe ser url-friendly
        </small>
      </fieldset>
  
      <fieldset class="form-group">
        <%= f.label :kind, 'Tipo' %>
        <%= f.select :kind, kind_options, {},
            class: 'form-control' %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :site_id, 'Sitio Web' %>
        <%= f.select :site_id,
            Site.pluck(:name, :id), {},
            class: 'form-control' %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :user_id, 'Autor' %>
        <%= f.select :user_id,
            User.pluck(:name, :id), {selected: document.user_id || current_user.id},
            class: 'form-control' %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :facebook_url,
            'URL de Facebook' %>
        <%= f.text_field :facebook_url,
            class: 'form-control' %>
        <small class="text-muted">
          URL del post en facebook.
          Ej.: http://facebok.com/123123
        </small>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :description,
            'Descripción' %>
        <%= f.text_area :description,
            class: 'form-control' %>
        <small class="text-muted">
          Breve descripción de la página.
          No más de 140 caracteres.
        </small>
      </fieldset>

      <section class="actions">
        <%= f.submit 'Guardar',
        class: 'btn btn-primary' %>
      </section>
    </div>


    <div class="card">
      <% if document.photo %>
        <%= image_tag(
          @document.photo.thumb('500x300#').url,
          class: 'card-img-top img-fluid') %>
      <% end %>

      <div class="card-block">

        <% if document.photo %>      
          <fieldset class="checkbox">
            Tilde para borrar la foto actual. <br />
            <%= f.label :remove_photo do %>
              <%= f.check_box :remove_photo %>
              Borrar foto
            <% end %>
          </fieldset>      
        <% else %>
          <fieldset class="form-group">
            Elegir foto <br />
            <%= f.label :photo, class: :file do %>
              <%= f.file_field :photo %>
              <span class="file-custom"></span>
            <% end %>    
          </fieldset>      
        <% end %>

        <fieldset class="form-group">
          <%= f.label :publication_date,
              'Fecha de publicación' %>
          <%= f.date_field :publication_date,
              class: 'form-control' %>
        </fieldset>

        <fieldset class="checkbox">
          <%= f.label :public do %>
            <%= f.check_box :public %>
            ¿Es público?
          <% end %>
        </fieldset>
  
        <fieldset class="checkbox">
          <%= f.label :protected do %>
            <%= f.check_box :protected %>
            ¿Está protegido? 
          <% end %>
        </fieldset>

      </div>
    </div>
  </div>
</div>

<br />

<fieldset class="form-group">
  <h1><%= f.label :content,
      'Contenido' %></h1>
  <%= f.text_area :content,
      class: 'form-control coding-textarea' %>
  <small class="text-muted">
    Este texto se escribe en formato <em>kramdown</em>.
    Para ver sintaxis, hacer
    <%= link_to 'click aquí',
        'http://kramdown.gettalong.org/quickref.html',
        target: '_blank' %>.
  </small>
</fieldset>

<section class="actions">
  <%= f.submit 'Guardar',
  class: 'btn btn-primary' %>
</section>

<% end %>