<h1><%= t @filter.kind,
        scope: :plural %></h1>

<section class="card card-block">

  <%= render 'filter', filter: @filter %>

  <br />

  <%= paginate @documents %>

  <table class="table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Publicación</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <%= render @documents %>  
    </tbody>
  </table>

  <%= link_to 'Nuevo documento',
      new_document_path,
      class: 'btn btn-primary' %>

</section>