<h1>
  <%= @document.title %>
  <small class="link">
    <%= link_to 'editar',
      edit_document_path(@document) %>

    <% if @document.public? %>
      -
      <%= link_to 'ver en sitio web',
          public_path(@document) %>
    <% end %>
  </small>
</h1>

<section class="card show-document">
<section class="card-block">

<%= image_tag(
    @document.photo.thumb('330x440').url,
    class: 'img-fluid img-thumbnail'
  ) if @document.photo %>

<br /><br />

<p>
  <strong>Título:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @document.slug %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= t @document.kind %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>¿Es público?</strong>
  <%= @document.public ? '✓' : '×' %>
</p>

<p>
  <strong>¿Está protegido?</strong>
  <%= @document.protected ? '✓' : '×'  %>
</p>

<p>
  <strong>Fecha de publicación:</strong>
  <%= @document.publication_date %>
</p>

<p>
  <strong>URL de facebook:</strong>
  <%= link_to @document.facebook_url,
              @document.facebook_url,
              target: '_blank' %>
</p>

<p>
  <strong>Sitio web:</strong>
  <%= @document.site.code %>
</p>
</section>
</section>



<h2 class="subtitle">Archivos</h2>

<section id="attachments">
<section class="card">
  <section class="card-block">

  <table class="table">
    <%= render @document.attachments %>
  </table>
  <%= link_to 'Nuevo archivo',
    [:new, @document, :attachment],
    class: 'btn btn-success' %>

</section>
</section>
</section>



<h2 class="subtitle">Etiquetas</h2>

<section id="tags">
  <%= render 'tags', document: @document, tags_ids: @tags_ids %>
</section>



<h2 class="subtitle">Contenido</h2>

<pre class="show-content">
<code class="language-markdown">
<%= @document.content %>
</code>
</pre>