<tr>
  <td><%= user.email %></td>
  <td><%= user.name %></td>
  <td><%= link_to 'Ver', user %></td>
  <% if user != current_user%>
    <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <td><%= link_to 'Eliminar', user, method: :delete,
              data: { confirm: '¿Está seguro?' } %></td>
  <% end %>
</tr>