<h1>Ficha de usuario</h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @user.name %>
</p>

<% if @user != current_user %>
  <%= link_to 'Editar', edit_user_path(@user)%> |
<% end %>

<%= link_to 'Volver', users_path %>